<!-- app/views/acao_locals/show.html.erb -->
<h1>Detalhes da Ação Local</h1>

<p>
  <strong>Ação ID:</strong>
  <%= @acao_local.acao_id %>
</p>

<p>
  <strong>Local ID:</strong>
  <%= @acao_local.local_id %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @acao_local.disponibilidade ? 'Sim' : 'Não' %>
</p>

<%= link_to 'Edit', edit_acao_local_path(@acao_local) %> |
<%= link_to 'Back', acao_locals_path %>
