<!-- app/views/historico_acaos/index.html.erb -->
<h1>Histórico de Ação</h1>

<table>
  <thead>
    <tr>
      <th>Pessoa ID</th>
      <th>Ação ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @historico_acaos.each do |historico| %>
      <tr>
        <td><%= historico.pessoa_id %></td>
        <td><%= historico.acao_id %></td>
        <td><%= link_to 'Show', historico %></td>
        <td><%= link_to 'Edit', edit_historico_acao_path(historico) %></td>
        <td><%= link_to 'Destroy', historico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Histórico de Ação', new_historico_acao_path %>
